.none {
	display: none !important;
}
/*Style*/
body {
	background: rgba(0, 102, 255, 0.38);
	font-family: sans-serif;
} 
p{ 
	margin: 0 0 5px;
} 
.article {
	background: #FFF;
	border: 1px solid rgba(0, 89, 181, 0.82);
	width: 600px;
	margin: 0 0 5px;
	box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
	padding: 3px 5px;
}
.news__author {
	text-decoration: underline;
	color: #007DDC;
} 
.news__count {
	margin: 10px 0 0 0;
	display: block;
}